{% extends './base.html' %}

{% block title %} Mnemo | Register {% endblock %}

{% block content %}
<div class="">
    <form class="flex flex-col w-80" action="{% url 'user_login' %}" method="POST">
        {% csrf_token %}
        
        <input class="outline outline-black" type="text" name="username" placeholder="username">
        {% if form.username.errors %}
            <div class="error">{{ form.username.errors.0 }}</div>
        {% endif %}

        <input class="outline outline-black" type="password" name="password" placeholder="password">
        {% if form.password.errors %}
            <div class="error">{{ form.password.errors.0 }}</div>
        {% endif %}

        <button type="submit">login</button>
    </form>

    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
